// COLORS
$color1: #323232;
$color2: #f3f3f9;
$color3: #f2980f;
$color4: #014f8a;
$color5: #0f90f2;

// FONTS
$font1: 'Baloo Da', cursive;
$font2: 'Hind Vadodara Bold', sans-serif;
$font3: 'Hind Vadodara', sans-serif;